<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ sms
  ~ Created by A.Kolchev  24.2.2016
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sms">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ui.BaseActivity"> </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.RoutsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MapActivity" android:label="@string/title_activity_map"/>

        <activity android:name=".ui.PresenterActivity" android:label="@string/title_activity_presenter"/>


        <service android:name=".service.SyncService" />
        <receiver android:name=".service.SyncAlarmReceiver" />
        <receiver
            android:name=".service.ConnectivityChangesReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
